body {
	background-color: #666;
}

h1 {
	text-align: center;
	border: 2px dotted blue;
	margin-bottom: 20px;
	padding: 10px;
}

div {
	text-align: center;
	border: 2px solid red;
	padding: 10px;
}

#cli_dialog_div {
	display: none;
}